@mixin flex ($direction, $justify, $align, $wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

$pure-white: #fff;
$high-color: #11b89b;
$mid-color: #ffd966;
$low-color: #f24b4b;
$dash-color: #d8d6d6;

.chart-holder {
    width: 60%;
    height: 300px;
    height: fit-content;
    margin: 0 auto;
    @include flex(row, space-between, center, nowrap);
}

.full-chart-holder {
    flex: 0 0 70%;
    height: 300px;
    @include flex(row, space-between, unset, nowrap);
    background-color: $pure-white;
    border-radius: 1rem;
    padding: 2rem 1rem 3rem 3rem;
    box-sizing: border-box;
    position: relative;
    &__triple-chart {
        flex: 0 0 calc(10% - 1.5rem);
        @include flex(row, space-between, flex-end, nowrap);
        position: relative;
    }
    &__high-chart, &__mid-chart, &__low-chart {
        flex: 0 0 20%;
        height: 100%;
        border-radius: 3px;
        position: relative;
        cursor: pointer;
    }
    &__high-chart {
        background-color: $high-color;
        &:hover {
            >.full-chart-holder__chart-tool-tip {
                background-color: $high-color;
                display: block;
            }
        }
    }
    &__mid-chart {
        background-color: $mid-color;
        &:hover {
            >.full-chart-holder__chart-tool-tip {
                background-color: $mid-color;
                display: block;
                color: black;
            }
        }
    }
    &__low-chart {
        background-color: $low-color;
        &:hover {
            >.full-chart-holder__chart-tool-tip {
                background-color: $low-color;
                display: block;
            }
        }
    }
    &__triple-chart-time {
        position: absolute;
        bottom: -2rem;
        left: 0;
    }
    &__chart-tool-tip {
        display: none;
        position: absolute;
        z-index: 2;
        border-radius: 0 .3rem .3rem 0;
        color: $pure-white;
        padding: 0 .3rem;
        box-sizing: border-box;
        top: .5rem;
        left: 100%;
    }
}

@keyframes slideAnimation {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.single-chart-holder {
    @include flex(column, unset, center, nowrap);
    flex: 0 0 calc(30% - 1rem);
    height: 300px;
    margin-left: 1rem;
    background-color: $pure-white;
    border-radius: 1rem;
    padding: 1rem 2rem 2rem 2rem;
    box-sizing: border-box;
    overflow: hidden;
    &__title-holder {
        display: none;
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
        p, strong {
            margin: 0;
            padding: 0;
        }
        &--active {
            display: block;
        }
    }
    &__single-chart-parent {
        display: none;
        transform: translateX(100%);
        align-items: flex-end;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: 100%;
        position: relative;
        &--active {
            display: flex;
            animation: slideAnimation .35s ease forwards;
        }
    }
    &__single-chart {
        width: 1.5rem;
        height: 100%;
        background-color: $high-color;
        border-radius: 6px;
        position: relative;
    }
    &__single-chart-tool-tip {
        position: absolute;
        top: 1rem;
        left: 100%;
        background-color: $high-color;
        border-radius: 0 .3rem .3rem 0;
        color: $pure-white;
        padding: 0 .2rem;
        box-sizing: border-box;
    }
    &__bullet-holder {
        @include flex(row, space-between, center, nowrap);
        width: 100%;
        height: fit-content;
        margin-top: 1rem;
    }
    &__bullet {
        width: .7rem;
        height: .7rem;
        background-color: $pure-white;
        border: 2px solid $high-color;
        border-radius: 50%;
        box-sizing: border-box;
        &:hover, &--active {
            cursor: pointer;
            background-color: $high-color;
        }
    }
}

.chart-row {
    &__top-level, &__mid-level, &__low-level {
        position: absolute;
        left: .5rem;
        width: calc(100% - 3rem);
        z-index: 2;
        font-size: .6rem;
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            border-top: 2px dashed $dash-color;
            left: 1.5rem;
            top: calc(50% - 1px);
            z-index: 1;
        }
    }
    &__top-level {
        top: 25%;
    }
    &__mid-level {
        top: 50%;
    }
    &__low-level {
        top: 75%;
    }
}

.options-information-holder {
    width: 60%;
    height: 300px;
    margin-top: 1rem;
    background-color: $pure-white;
    border-radius: 1rem;
    padding: 2rem 3rem;
    box-sizing: border-box;
    @include flex(row, space-between, center, nowrap);
}

.options-holder {
    width: 40%;
    height: 100%;
    &__title {
        width: 100%;
        margin-bottom: 2rem;
    }
    &__check-box-holder {
        width: calc(100% - 5rem);
        margin: 0 0 1rem 5rem;
        position: relative;
    }
    &__check-box-label {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        &:before {
            content: '';
            width: 1rem;
            height: 1rem;
            border: 2px solid;
            border-radius: 50%;
            position: absolute;
            left: -2rem;
        }
    }
    &__check-box {
        visibility: hidden;
        &:checked {
            +.higher::before {
                background-color: $high-color;
            }
            +.average:before {
                background-color: $mid-color;
            }
            +.lower::before {
                background-color: $low-color;
            }
        }
    }
}

.higher::before {
    border-color: $high-color;
}

.average::before {
    border-color: $mid-color;
}

.lower::before {
    border-color: $low-color;
}

.information-holder {
    width: 60%;
    height: 100%;
    padding: 0 3rem;
    box-sizing: border-box;
    @include flex(row, space-between, center, nowrap);
    &__maximum, &__minimum {
        width: 50%;
        text-align: center;
    }
    &__maximum {
        color: $low-color;
    }
    &__minimum {
        color: $high-color;
    }
}

@media screen and (max-width: 1336px) and (min-width: 1081px) {
    .chart-holder {
        width: 90%;
    }
    .options-information-holder {
        width: 90%;
    }
}

@media screen and (max-width: 1080px) and (min-width: 850px) {
    body {
        font-size: 12px;
    }
    .App {
        justify-content: unset;
    }
    .chart-holder {
        width: 90%;
        flex-wrap: wrap;
        margin-top: 1rem;
        justify-content: center;
    }
    .options-information-holder {
        width: 90%;
    }
    .full-chart-holder {
        flex: 0 0 100%;
    }
    .single-chart-holder {
        flex: 0 0 50%;
        margin-top: 1rem;
    }
    .options-information-holder {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 849px) {
    body {
        font-size: 11px;
    }
    .App {
        justify-content: unset;
    }
    .chart-holder {
        width: 90%;
        flex-wrap: wrap;
        margin-top: 1rem;
        justify-content: center;
    }
    .options-information-holder {
        width: 90%;
    }
    .full-chart-holder {
        flex: 0 0 100%;
        &__triple-chart {
            flex: 0 0 calc(10% - .7rem);
        }
        &__triple-chart-time {
            font-size: .4rem;
        }
    }
    .single-chart-holder {
        flex: 0 0 100%;
        margin-top: 1rem;
    }
    .options-information-holder {
        margin-bottom: 3rem;
        flex-direction: column;
    }
    .options-holder {
        width: 100%;
    }
    .information-holder {
        width: 100%;
        padding: 0 .7rem;
    }
}